@use "style/group"as *;

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  scroll-padding-top: 100px;

  * {
    position: relative;
    box-sizing: border-box;
  }
}

body {
  position: relative;
  z-index: 2;
  margin: auto;
  background: rgb(222, 221, 205);
  font-size: 1.6rem;
  font-family: serif;
  text-align: justify;

  font-feature-settings: "palt";

  &::after {
    opacity: .35;
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: url(../images/PC_bg.png);
    background-size: contain;
    background-repeat: repeat;
    content: "";
  }
}

head,
section {
  margin-bottom: 5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.lower-case {
  @include lower;
}

.large-letter {
  @include large;
}

.wrapping {
  display: inline-block;
}