@use "style/group"as *;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 20px clamp(24px, 3vw, 72px);
  background-color: #ffffff33;

  backdrop-filter: blur(15px);
}

.header_logo {
  @include cinzel(400);
  font-size: 20px;
  text-shadow: -4px 4px 0 #58874e4d;
  user-select: none;
}

.header_navList {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header_navItem {
  @include cinzel(400);
  font-size: 14px;
  text-shadow: -3px 3px 0 #58874e4d;
  user-select: none;
}

.header_navSP {
  display: none;
}

.headerHover_nav {
  display: none;
}

.header_instaIcom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background-color: #000000;

  img {
    width: 13px;
  }
}


@include sp {
  header {
    position: relative;
    background-color: #ffffff00;

    backdrop-filter: blur(0);
  }

  .topHeader {
    position: absolute;
  }

  .header_navPC {
    display: none;
  }

  .header_navSP {
    display: block;
  }

  .header_logo {
    @include cinzel(500);
    font-size: 24px;
  }

  .header_navList {
    gap: 24px;
  }

  .header_navItem {
    @include cinzel(500);
    font-size: 18px;
  }

  .headerHover_nav {
    display: block;
    position: fixed;
    top: 160px;
    right: 0;
    z-index: 1000;
    padding: 16px;
    background-color: #58874e4d;

    img {
      width: 32px;
      height: 32px;
    }
  }

  .header_Xicom {
    margin-bottom: 16px;
  }

  .header_instaIcom {
    width: 32px;
    height: 32px;
    margin-bottom: 16px;

    img {
      width: 18px;
    }
  }
}