@use "style/group"as *;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 20px clamp(24px, 3vw, 72px);
  background-color: #ffffff33;

  backdrop-filter: blur(15px);
}

.header_logo {
  @include jost(400);
  font-size: 20px;
  text-shadow: -4px 4px 0 #58874e4d;
}

.header_navList {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header_navItem {
  @include jost(400);
  font-size: 14px;
  text-shadow: -3px 3px 0 #58874e4d;
}

.topContact_sp {
  display: none;
}

@include sp {
  header {
    position: relative;
  }

  .topContact_pc {
    display: none;
  }

  .topContact_sp {
    display: block;
    position: fixed;
    top: 248px;
    right: 0;
    padding: 8px 20px 16px 20px;
    background-color: #58874e4d;
  }

  .header_Xicom {
    position: fixed;
    top: 192px;
    right: 0;
    padding: 16px 20px 8px 20px;
    background-color: #58874e4d;
  }

  .topContact_sp,
  .header_Xicom {
    img {
      width: 32px;
      height: 32px;
    }
  }
}