@use "style/group"as *;

.topVisual_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 24px;
}

.topTitle {
  @include cinzel(500);
  font-size: 56px;
  text-shadow: -5px 5px 0 #58874e33;
  user-select: none;

  span {
    &:nth-of-type(1) {
      padding-right: 8px;
    }
  }
}

.scrollDown {
  position: absolute;
  right: clamp(24px, 3vw, 72px);
  bottom: 40px;
  width: 24px;
  height: 24px;
  border: 2px solid #322c25;
  border-radius: 100px;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.5px;
    height: 28px;
    background-color: #322c25;
    animation: scrollDown 2.5s ease infinite;

    translate: -50% -5%;

    &::before,
    &::after {
      position: absolute;
      bottom: 2px;
      left: -1px;
      width: 10px;
      height: 1.5px;
      border-radius: 5px;
      background-color: #322c25;
      content: "";
    }

    &::before {
      rotate: 45deg;
      translate: -6px 0;
    }

    &::after {
      rotate: -45deg;
    }
  }
}

@keyframes scrollDown {
  0% {
    translate: -50% -5%;
  }

  50% {
    translate: -50% 5%;
  }

  100% {
    translate: -50% -5%;
  }
}

.topTitleLayout {
  @include cinzel(500);
  opacity: .6;
  margin-bottom: 24px;
  font-size: 56px;
  letter-spacing: .1em;
  text-align: center;
}

@include sp {
  .topVisual_container {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
  }

  .topTitle {
    margin: auto;
    font-size: max(35px, 9vw);
    text-align: center;
  }

  .scrollDown {
    right: 0;
    bottom: 56px;
    left: 0;
    width: 18px;
    height: 18px;
    margin: auto;

    span {
      height: 30px;

      &::before,
      &::after {
        bottom: 1px;
        width: 8.4px;
      }

      &::before {
        translate: -5px 0;
      }
    }
  }

  .topTitleLayout {
    opacity: 1;
    margin-bottom: min(56px, 10vw);
    font-size: min(56px, 10vw);
  }
}