@use "style/group"as *;

.topProfile_container {
  max-width: 950px;
  margin: auto;
  padding: 104px 40px 0;
}

.topProfile_content {
  display: flex;
  gap: 32px;
  padding: 10% 8%;
  box-shadow: 0 3px 3px 2px #0000001a;
  background-color: #ffffff99;
}

.topPrifile_icon {
  width: 53%;
}

.topPrifile_text {
  width: 47%;
}

.topPrifile_textName {
  @include nsJP(600);
  margin-bottom: 16px;
  font-size: 18px;

  span {
    font-size: 60%;
  }
}

.topPrifile_textOverview {
  @include nsJP(400);
  font-size: 13px;
  line-height: 1.4;
  letter-spacing: .04em;
  text-align: justify;
}

@include sp {
  .topProfile_container {
    padding: min(120px, 24vw) 0 0;
  }

  .topProfile_content {
    flex-direction: column;
    justify-content: center;
    gap: min(16px, 3vw);
    padding: 10% 0 12%;

    > div {
      margin: auto;
    }
  }

  .topPrifile_icon {
    width: 32%;
  }

  .topPrifile_text {
    width: 85%;
  }

  .topPrifile_textName {
    text-align: center;

    span {
      display: block;
    }
  }
}