@use "style/group"as *;

.topContact_container {
  padding: 144px 24px 0;
}

.topContact_title {
  margin-bottom: 8px;
}

.topContact_text {
  @include nsJP(400);
  font-size: 14px;
  line-height: 2;
  text-align: center;
}

.topContact_btn {
  @include nsJP(300);
  width: fit-content;
  margin: 32px auto 0;
  border: 1px solid #322c25;
  background-color: #322c25;

  a {
    display: block;
    padding: 16px 72px;
    color: #ffffff;

    &:hover::after {
      transform: scaleX(1);

      transform-origin: left;
    }

    &::after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: scaleX(0);
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, .3);
      content: "";
      pointer-events: none;
      user-select: none;
      transition: all .5s ease;
      transition-property: transform;

      transform-origin: left;
    }
  }
}