@use "style/group"as *;

.worksContent_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 950px;
  margin: 120px auto 16px;
  padding: 0 40px;
}

.worksTitle {
  @include jost(400);
  font-size: 72px;
  letter-spacing: .05em;
  text-shadow: -5px 5px 0 #58874e33;
}

.worksYear {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.worksYear_text {
  @include jost(400);
  min-height: 35px;
  padding: 2px 12px 0;
  border-bottom: 1px solid #949494;
  color: #474747;
}

.worksYear_list {
  display: flex;
  flex-direction: column;
  width: 104px;
  height: 35px;
  overflow: hidden;
  border-top: 1px solid #949494;
  border-bottom: 1px solid #949494;

  &.worksYear_listVisible {
    overflow: visible;
  }
}

.worksYear_item {
  @include jost(300);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  min-height: 35px;
  padding: 2px 32px;
  border-right: 1px solid #949494;
  border-bottom: 1px solid #949494;
  border-left: 1px solid #949494;
  box-sizing: border-box;
  background-color: #ffffff9d;
  cursor: pointer;
  transition: all .2s ease-in-out;

  a {
    display: block;
  }

  &:hover {
    background-color: #ffffff;
  }

  &:first-of-type {
    background-color: inherit;
  }

  &:nth-of-type(2) {
    margin-top: -1px;
  }
}

@include sp {
  .worksContent_head {
    flex-direction: column;
    gap: min(56px, 16vw);
    margin: min(120px, 16vw) auto 0;
  }

  .worksTitle {
    font-size: min(64px, 12vw);
  }

  .worksYear {
    justify-content: center;
    width: 100%;
    margin: auto;
  }

  .worksYear_text {
    padding: 0 12px;
    border-bottom: none;
    font-size: 24px;
  }

  .worksYear_list {
    width: 85%;
    height: 48px;
  }

  .worksYear_item {
    min-height: 48px;
    font-size: 24px;
  }

  .worksContent_list {
    width: 85%;
    margin: auto;
    padding: min(56px, 11vw) 0 0;
  }
}