@use "style/group"as *;

.worksContent_list {
  width: 100%;
  max-width: 950px;
  margin: auto;
  padding: 32px 30px 0;
}

.worksContent_moreText {
  @include jost(400);
  position: relative;
  z-index: 2;
  color: #322c25;
  font-size: 20px;
  transition: all .5s;
}

.works_moreBtn {
  gap: 12px;
  padding: 8px 32px;
  transition: all .5s;

  &:hover .worksContent_moreText,
  &:active .worksContent_moreText {
    color: #ffffff;
  }
}

.worksContent_moreArrow {
  width: 10px;
  margin-top: 5px;
}

@include sp {
  .worksContent_more {
    margin: min(56px, 16vw) auto 0;
  }

  .worksContent_moreText {
    font-size: max(15px, 2vw);
  }

  .works_moreBtn .worksContent_moreArrow {
    width: max(10px, 2vw);
  }
}