@use "style/group"as *;

.worksContent_head {
  display: flex;
  justify-content: space-between;
  margin: 120px auto 16px;
}

.worksTitle {
  @include jost(400);
  font-size: 64px;
  letter-spacing: .05em;
  text-shadow: -5px 5px 0 #58874e33;
}

.worksYear {
  display: flex;
  align-items: flex-start;
  font-size: 24px;
}

.worksYear_text {
  @include jost(400);
}

.worksYear_list {
  display: flex;
  flex-direction: column;
  width: 145px;
  height: 45px;
  overflow: hidden;

  &.worksYear_listVisible {
    overflow: visible;
  }
}

.worksYear_item {
  @include jost(300);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  min-height: 45px;
  padding: 2px 32px;
  border: 1px solid #949494;
  box-sizing: border-box;
  background-color: #ffffff66;
  cursor: pointer;
  transition: all .2s ease-in-out;

  a {
    display: block;
  }

  &:hover {
    background-color: #ffffff;
  }

  &:first-of-type {
    background-color: inherit;
  }
}