@use "style/group"as *;

.workDetail {
  max-width: 950px;
  margin: 5rem auto 0;
  padding: 0 48px;
}

.workDetail_text {
  @include nsJP(300);
  font-size: 15px;
  line-height: 1.7;
}

.workDetail_content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
  margin: 64px auto 0;
  background-color: #d9d9d9;
}

@include sp {
  .workDetail {
    width: 85%;
    margin: 5rem auto 0;
    padding: 0;
    overflow: hidden;
  }

  .workDetail_text {
    font-size: min(18px, 3vw);
  }
}