@use "style/group"as *;

.workHead {
  position: relative;
  margin-top: 48px;
}

.workHead_title {
  @include nsJP(400);
  position: absolute;
  top: -28px;
  left: 0;
  z-index: 2;
  padding: 5px 62px 5px 24px;
  background-color: #ffffffcc;
  font-size: 24px;
}

.workHead_thumbnail {
  position: relative;
  background-color: #322c25;

  p {
    @include jost(400);
    position: absolute;
    top: 25px;
    right: 40px;
    color: #ffffff99;
    font-size: 40px;
    text-align: right;
  }
}

.workThumbnail_noImage {
  width: 240px;
  margin: auto;
  padding: 8px 0 4px;
}

.workHead_date {
  @include jost(400);
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ffffffcc;
}