@font-face {
  font-family: "Jost";
  src: url("../font/Jost/Jost-Black.ttf") format("ttf");
  src: url("../font/Jost/Jost-BlackItalic.ttf") format("ttf");
  src: url("../font/Jost/Jost-Bold.ttf") format("ttf");
  src: url("../font/Jost/Jost-ExtraBold.ttf") format("ttf");
  src: url("../font/Jost/Jost-ExtraLight.ttf") format("ttf");
  src: url("../font/Jost/Jost-Light.ttf") format("ttf");
  src: url("../font/Jost/Jost-Medium.ttf") format("ttf");
  src: url("../font/Jost/Jost-Regular.ttf") format("ttf");
  src: url("../font/Jost/Jost-SemiBold.ttf") format("ttf");
  src: url("../font/Jost/Jost-Thin.ttf") format("ttf");
  src: url("../font/Jost/Jost-Black.ttf") format("ttf");
}