@font-face {
  font-family: "Jost";
  src: url("../font/Jost/Jost-Black.ttf") format("truetype");
  src: url("../font/Jost/Jost-BlackItalic.ttf") format("truetype");
  src: url("../font/Jost/Jost-Bold.ttf") format("truetype");
  src: url("../font/Jost/Jost-ExtraBold.ttf") format("truetype");
  src: url("../font/Jost/Jost-ExtraLight.ttf") format("truetype");
  src: url("../font/Jost/Jost-Light.ttf") format("truetype");
  src: url("../font/Jost/Jost-Medium.ttf") format("truetype");
  src: url("../font/Jost/Jost-Regular.ttf") format("truetype");
  src: url("../font/Jost/Jost-SemiBold.ttf") format("truetype");
  src: url("../font/Jost/Jost-Thin.ttf") format("truetype");
}

@mixin jost {
  font-family: "Jost";
}

@font-face {
  font-family: "NotoSansJP";
  src: url("../font/Noto_Sans_JP/NotoSansJP-Black.ttf") format("truetype");
  src: url("../font/Noto_Sans_JP/NotoSansJP-Bold.ttf") format("truetype");
  src: url("../font/Noto_Sans_JP/NotoSansJP-ExtraBold.ttf") format("truetype");
  src: url("../font/Noto_Sans_JP/NotoSansJP-ExtraLight.ttf") format("truetype");
  src: url("../font/Noto_Sans_JP/NotoSansJP-Light.ttf") format("truetype");
  src: url("../font/Noto_Sans_JP/NotoSansJP-Medium.ttf") format("truetype");
  src: url("../font/Noto_Sans_JP/NotoSansJP-Regular.ttf") format("truetype");
  src: url("../font/Noto_Sans_JP/NotoSansJP-SemiBold.ttf") format("truetype");
  src: url("../font/Noto_Sans_JP/NotoSansJP-Thin.ttf") format("truetype");
}

@mixin nsJP {
  font-family: "NotoSansJP";
}