.loading
  .loading_wrap
    p
      span L
      span O
      span A
      span D
      span I
      span N
      span G
.background_image

if name == 'home'
  header.topHeader
    h1.header_logo
      a(href="#")
        span S
          span.lower-case hiori 
        span I
          span.lower-case noue
    nav.header_nav.header_navPC
      ul.header_navList
        li.header_navItem 
          a(href="#works") works
        li.header_navItem 
          a(href="#profile") profile
        li.header_navItem 
          a(href="#contact") contact
        li.header_navItem.header_Xicom
          a(href="https://x.com/5_24heyaaa" target="_blank" rel="noopener, noreferrer") 
            img(src="assets/images/x_icon.svg", alt="Xのアイコン" width="24" height="24")
        li.header_navItem.header_instaIcom
          a(href="https://www.instagram.com/24_cha/" target="_blank" rel="noopener, noreferrer") 
            img(src="assets/images/Instagram.svg", alt="Instagramのアイコン" width="24" height="24")
    nav.header_nav.header_navSP
      ul.header_navList
        li.header_navItem 
          a(href="#works") works
        li.header_navItem 
          a(href="#profile") profile
  ul.headerHover_nav
    li.header_navItem.header_Xicom
      a(href="https://x.com/5_24heyaaa" target="_blank" rel="noopener, noreferrer") 
        img(src="assets/images/x_icon.svg", alt="Xのアイコン" width="24" height="24")
    li.header_navItem.header_instaIcom
      a(href="https://www.instagram.com/24_cha/" target="_blank" rel="noopener, noreferrer") 
        img(src="assets/images/Instagram.svg", alt="Instagramのアイコン" width="24" height="24")
    li.header_navItem 
      a(href="#contact")
        img(src="assets/images/headerContact_icon.svg", alt="コンタクトのアイコン" width="24" height="24")

if name == 'works'
  header
    h1.header_logo 
      a(href="index.html") 
        span S
          span.lower-case hiori
        span I
          span.lower-case noue
    nav.header_nav.header_navPC
      ul.header_navList
        li.header_navItem 
          a(href="index.html#contact")
            img(src="assets/images/headerContact_icon.svg", alt="コンタクトのアイコン" width="24" height="24")
        li.header_navItem.header_Xicom
          a(href="https://x.com/5_24heyaaa" target="_blank" rel="noopener, noreferrer") 
            img(src="assets/images/x_icon.svg", alt="Xのアイコン" width="24" height="24")
  ul.headerHover_nav
    li.header_navItem.header_Xicom
      a(href="https://x.com/5_24heyaaa" target="_blank" rel="noopener, noreferrer") 
        img(src="assets/images/x_icon.svg", alt="Xのアイコン" width="24" height="24")
    li.header_navItem.header_instaIcom
      a(href="https://www.instagram.com/24_cha/" target="_blank" rel="noopener, noreferrer") 
        img(src="assets/images/Instagram.svg", alt="Instagramのアイコン" width="24" height="24")
    li.header_navItem 
      a(href="#contact")
        img(src="assets/images/headerContact_icon.svg", alt="コンタクトのアイコン" width="24" height="24")