.background_image
if name == 'home'
header
  h1.header_logo Shiori Inoue
  nav.header_nav
    ul.header_navList
      li.header_navItem works
      li.header_navItem profile
      li.header_navItem contact
      li.header_navItem.header_Xicom
        img(src="assets/images/x_icon.svg", alt="Xのアイコン" width="24" height="24")