main 
  section.topVisual_container
    h2.topTitle Shiori Inoue
    .scrollDown
      span
      //- img(src="./assets/images/scrollDown.svg", alt="下矢印", width="43", height="26")

  section.topWorks_container
    h3.topWorks_title.topTitleLayout Works
    ul.topWorks_list
      - for(let i = 1; i <= 6; i++)
        li.topWorks_item
          a(href="#") 
            h4.topWorks_itemTitle タイトルテキスト
            p.topWorks_itemDate
              time(datetime="2024-05-03") 2024.05.03 
            .topWorks_thumbnailImg
              img(src="./assets/images/worksThumbnail_noImage.png", alt="サムネイル画像", width="292", height="378")
    .topWorks_moreBtnWrap
      a(href="#").topWorks_moreBtn 
        p.topWorks_moreBtnText More Works
        img(src="./assets/images/arrow_icon.svg", alt="右向きの矢印" width="26" height="16")
  
  section.topProfile_container
    h3.topProfile_title.topTitleLayout Profile
    .topProfile_content
      .topPrifile_icon: img(src="./assets/images/topProfile_icon.png", alt="アイコンの画像", width="396", height="396")
      .topPrifile_text
        h4.topPrifile_textName 井上 栞 
          span.lower-case (Shiori Inoue)
        p.topPrifile_textOverview プロフィール概要
          br 
          | 出身とか、取ったことがある賞とか今までの経験とか所属とか使用ツールとかいい感じに
  
  section.topContact_container
    h3.topContact_title.topTitleLayout Contact
    .topContact_content
      p.topContact_text お仕事のご依頼やお問い合わせは下記リンク先よりお願いいたします。
        br
        | 確認次第ご返信しますが、場合によっては少しお時間をいただくこともございますのでご了承ください。
      p.topContact_btn
        a(href="#", target="_blank", rel="noopener, noreferrer") お問い合わせはこちら