main 
  section.topVisual_container
    h2.topTitle Shiori Inoue
    .scrollDown
      img(src="./assets/images/scrollDown.svg", alt="下矢印" width="43" height="26")
  section.topWorks_container
    h3.topWorks_title Works
    ul.topWorks_list
      li.topWorks_item
        h4.topWorks_itemTitle タイトルテキスト
        p.topWorks_itemDate
          time(datetime="2024-05-03") 2024.05.03 
      li.topWorks_item 
        h4.topWorks_itemTitle タイトルテキスト
        p.topWorks_itemDate
          time(datetime="2024-05-03") 2024.05.03 
      li.topWorks_item 
        h4.topWorks_itemTitle タイトルテキスト
        p.topWorks_itemDate
          time(datetime="2024-05-03") 2024.05.03 
      li.topWorks_item 
        h4.topWorks_itemTitle タイトルテキスト
        p.topWorks_itemDate
          time(datetime="2024-05-03") 2024.05.03 
      li.topWorks_item 
        h4.topWorks_itemTitle タイトルテキスト
        p.topWorks_itemDate
          time(datetime="2024-05-03") 2024.05.03 
      li.topWorks_item 
        h4.topWorks_itemTitle タイトルテキスト
        p.topWorks_itemDate
          time(datetime="2024-05-03") 2024.05.03 