main
  section.worksContent_head
    h2.worksTitle W
      span.lower-case orks

  section.workHead
    p.workHead_title タイトルテキスト

    .workHead_thumbnail
      p No Image
      img.workThumbnail_noImage(src="assets/images/workThumbnail_noImage.webp", alt="NoImageの画像")
    
    p.workHead_date
      time(datetime="2024-10-14") 2024.10.14

  section.workDetail
    p.workDetail_text 概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト概要テキスト
    .workDetail_content URLや音源など(掲載OKであれば)

  ul.worksPageTransition
    li.transition_nextBtn 
      a(href="#") 
        img(src="assets/images/scrollDown.svg", alt="Nextの矢印")
        p Next
    li.transition_allWorksBtn
      a(href="works.html") 
        p All Works
        img(src="assets/images/scrollDown.svg", alt="Nextの矢印")
    li.transition_prevBtn
      a(href="#") 
        p Prev
        img(src="assets/images/scrollDown.svg", alt="Nextの矢印")