main
  section.worksContent_head
    h2.worksTitle Works
    .worksYear
      p.worksYear_text Year
      ul#year.worksYear_list
        li#defaultValue.worksYear_item
          button(type="button") 
        li.worksYear_item
          button(type="button") All
        li.worksYear_item
          button(type="button") 2024
        li.worksYear_item
          button(type="button") 2023
        li.worksYear_item
          button(type="button") 2022
        li.worksYear_item
          button(type="button") 2021
  section.worksContent_list
    ul(data-show="6")#works_container.works_list.worksPage_list
      - for(let i = 1; i <= 20; i++)
        li(data-aos="fade", data-aos-delay=delay, data-aos-duration="1000").works_item
          a(href="workPages.html") 
            h4.works_itemTitle タイトル
              span.wrapping テキスト
            p.works_itemDate
              time(datetime="2024-05-03") 2024.05.03 
            .works_thumbnailImg
              picture 
                source(srcset="./assets/images/worksThumbnail_noImage_sp.webp", media="(max-width: 768px)", type="image/webp", width="194", height="128")
                img(src="./assets/images/worksThumbnail_noImage.webp", alt="サムネイル画像", width="292", height="378")
    .works_moreBtnWrap.worksContent_more
      button(type="button")#works_moreBtn.works_moreBtn 
        p.works_moreText.worksContent_moreText More Works
        img.worksContent_moreArrow(src="./assets/images/worksContent_moreArrow.svg", alt="下向きの矢印" width="26" height="16")