main
  section.worksContent_head
    h2.worksTitle Works
    .worksYear
      p.worksYear_text Year
      ul#year.worksYear_list
        li#defaultValue.worksYear_item
          a(href="#") 
        li.worksYear_item
          a(href="#") All
        li.worksYear_item
          a(href="#") 2024
        li.worksYear_item
          a(href="#")  2023
        li.worksYear_item
          a(href="#")  2022
        li.worksYear_item
          a(href="#")  2021
  section.worksContent_list
    ul.works_list
      - for(let i = 1; i <= 6; i++)
        - let delay = (i % 3 === 1) ? 100 : (i % 3 === 2) ? 300 : 600
          li(data-aos="fade", data-aos-delay=delay, data-aos-duration="1000").works_item
            a(href="workPages.html") 
              h4.works_itemTitle タイトルテキスト
              p.works_itemDate
                time(datetime="2024-05-03") 2024.05.03 
              .works_thumbnailImg
                img(src="./assets/images/worksThumbnail_noImage.png", alt="サムネイル画像", width="292", height="378")
    .works_moreBtnWrap.worksContent_more
      a(href="works.pug").works_moreBtn 
        p.works_moreText.worksContent_moreText More Works
        img.worksContent_moreArrow(src="./assets/images/worksContent_moreArrow.svg", alt="下向きの矢印" width="26" height="16")